<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewreport" content="width=device-width, initial-scale=1.0">
    <title>University Management System</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<section class="header">
    <nav>
        <a href="Home_Page.html"><img src="image/aiub-logo-1115122C7B-seeklogo.com.png"></a>
        <div class="nav-links">
            <ul>
                <li><a href="Home_Page.html">Home</a></li>
                <li><a href="Login.php">Login</a></li>
                <li><a href="Registration.php">Registration</a></li>
                <li><a href="About.php">About</a></li>
                <li><a href="">CONTACT</a></li>
                </ul>
        </div>
    </nav>
<div class="text-box">
    <h1>Teacher's Feature</h1>
    <p> Welcome to The University Management System</p>
    <a href="" class="hero-btn">Visit us to know more</a>
</div>  
</section>

</body>

</html>